name: gallery
description: A gallery to list apps.
repository: https://github.com/flutter/gallery
version: 2.10.2+021002 # See README.md for details on versioning.

environment:
  flutter: ^3.13.0
  sdk: ^3.1.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  adaptive_breakpoints: ^0.1.7
  collection: ^1.18.0
  dual_screen: ^1.0.4
  flutter_staggered_grid_view: ^0.7.0
  get_storage: ^2.1.1
  google_fonts: ^6.2.1
  intl: ^0.18.1
  meta: ^1.11.0
  package_info_plus: ^5.0.1
  provider: ^6.1.2
  transparent_image: ^2.0.1
  url_launcher: ^6.2.5
  dio: ^5.4.1
  flutter_markdown: ^0.6.21
  markdown: ^7.2.2
  string_scanner: ^1.2.0
  flutter_spinkit: ^5.2.0
  file_picker: ^8.0.0+1
  shared_preferences: ^2.2.2

flutter:
  generate: true # Enables generation of localized strings from arb files
  uses-material-design: true
  fonts:
    - family: notosans
      fonts:
        - asset: assets/fonts/google_fonts/NotoSans-Regular.ttf
    # - family: notosanssc
    #   fonts:
    #     - asset: assets/fonts/google_fonts/NotoSansSC.otf
    # - family: GalleryIcons
    #   fonts:
    #     - asset: assets/fonts/GalleryIcons.ttf

  assets:
    - assets/images/chatgpt_red.png
    - assets/images/chat/chat_card.png
    - assets/images/chat/chat_card_dark.png
    - assets/images/avatar/0.png
    - assets/images/avatar/1.png
    - assets/images/avatar/2.png
    - assets/images/avatar/3.png
    - assets/images/avatar/4.png
    - assets/images/avatar/5.png
    - assets/images/avatar/6.png
    - assets/images/avatar/7.png
    - assets/images/avatar/8.png
    - assets/images/avatar/9.png
    - assets/images/avatar/10.png
    - assets/images/avatar/11.png
    - assets/images/avatar/12.png
    - assets/images/avatar/13.png
    - assets/images/avatar/14.png
    - assets/images/avatar/15.png
